PORT=3000
DATABASE_URL= "postgresql://postgres.sumvdjvqfjxdbalwekyu:Rajesh500%40%23SMP@aws-1-ap-south-1.pooler.supabase.com:5432/profile_pad"
BCRYPT_SALT_ROUNDS=10
JWT_SECRET="jwt123secret456"

# Third Party Env's
GITHUB_PERSONAL_ACCESS_TOKEN="get the personal access token from github"
CLOUDINARY_CLOUD_NAME="your cloudinary cloud name"
CLOUDINARY_API_KEY="your cloudinary api key"
CLOUDINARY_API_SECRET="your cloudinary api secret"
